@page "/"

<div class="container">
    <img src="<>" alt="<>" />
    <div class="block">
        <div class="d-flex flex-row">
            <img src="<>" alt="<>" />
            <div class="text-block"></div>
        </div>
        <div class="d-flex flex-row">
            <div class="text-block"></div>
            <img src="<>" alt="<>" />
        </div>
    </div>
    <div id="carousel" class="carousel slide" data-ride="carousel" style="display: inline-block;">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="" alt="...">
                <div class="carousel-caption">
                    <h3>Заглавие</h3>
                    <p>Подпись к картинке</p>
                </div>
            </div>
            <div class="item">
                <img src="/examples/images/c-2.jpg" alt="...">
                <div class="carousel-caption">
                    <h3>Заглавие</h3>
                    <p>Подпись к картинке</p>
                </div>
            </div>
            <div class="item">
                <img src="/examples/images/c-3.jpg" alt="...">
                <div class="carousel-caption">
                    <h3>Заглавие</h3>
                    <p>Подпись к картинке</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <p>Информация про нас</p>
        <p>Где нас найти</p>
    </div>
</div>
<div class="footer d-flex flex-row">
    <div class="block1">
        <p class="name">Имя</p>
        <p class="by">Сделано петушками</p>
        <ol>
            <li>Оранжевый</li>
            <li>Зелёный</li>
            <li>Синий</li>
        </ol>
    </div>
    <div class="block3">
        <p>Ссылка на разные каналы связи</p>
        <div class="d-flex flex-row">
            <a href=""><img src="" alt="..."></a>
            <a href=""><img src="" alt="..."></a>
            <a href=""><img src="" alt="..."></a>
            <a href=""><img src="" alt="..."></a>
        </div>
    </div>
    <div class="block2">
        <div class="location">
            <div class="map">

            </div>
        </div>
    </div>
</div>